<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>710798669467-gr2vhrj0spjvui26hp679ug9o1a7ppil.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.710798669467-gr2vhrj0spjvui26hp679ug9o1a7ppil</string>
	<key>API_KEY</key>
	<string>AIzaSyDMiGNi34im3PO_YNK3oJo-L12s4UklW2g</string>
	<key>GCM_SENDER_ID</key>
	<string>710798669467</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ovidiubahnean.Flash-Chat</string>
	<key>PROJECT_ID</key>
	<string>whatsapp-clone-662df</string>
	<key>STORAGE_BUCKET</key>
	<string>whatsapp-clone-662df.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:710798669467:ios:4c10614d9faa7605</string>
	<key>DATABASE_URL</key>
	<string>https://whatsapp-clone-662df.firebaseio.com</string>
</dict>
</plist>